html, body{
                margin: 0;
                padding: 0;
                position: relative;
                font-family: sans-serif;
            }
            ::selection{
                background-color: rgb(22,150,70);
                color: white;
            }
            h1,h2,h3{
                color: #29588C;
                text-align: center;;
            }
            .swpaket{
                color: #29588C;
                font-size: 1.2em;
            }

            tfoot th{
            background-color: white;}


            #first,#second,#third{
                transition-duration: 200ms;
            }
            .firstChange{
                transform: rotate(45deg) translate(5px,5px);
            }

            .secondChange{
                opacity: 0;
                transform: translateX(-15px);
            }
            .thirdChange{
                transform: rotate(-45deg) translate(5px,-5px);
            }


            th{
            background-color: #29588C;
            color: white;}

            tr{
            background-color: #f7f7f7;}

            tr:hover{
            background-color: #f0f7ff;}

            #menu li a{
                text-decoration: none;
                text-decoration: none;
                text-align:center;
                color: #29588C;
            }
            #menu li a:hover{
                background: #f0f0f0;
            }
            #menu .login-btn{
            border: 2px solid #29588C;
                text-align: center;
                border-radius: 6px;
                padding:5px 20px 5px;
                width:100%;

            }

            #menu .login-btn:hover{
            background-color: #29588C;
            color:white;}

            .bg-light {

            background-color:white;
           box-shadow: 0px 1px 15px 0 rgb(200,200,200);
            }

            .navbar-toggler:hover{
            background-color: white;}

            .navbar-expand-lg{
            padding-bottom:10px;
            }

            main{
                padding: 200px 10%;
            }

            #panel{
                padding: 40px;
                margin: 80px 0 0px;
            }

            input{
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 10px 10px;
                border-radius: 20px;
                color: #29588C;
                font-weight: 700;
                border: 1px solid rgb(130,130,130);
                background: rgb(250,250,250);
            }
            input:focus{
                borer: 1px solid rgb(660,120,170);
            }
            .searchChange{
                border: 1ßx solid rgb(255,50,70);
            }
            select{
                cursor: pointer;
                padding: 8px 10px;
                border-radius: 10px;
                color: #29588C;
                font-weight: 700;
                border: 2px solid #29588C;
            }
            .checker{
                margin: 50px 0 0;
                width: 100%;
                text-align: center;
                border-collapse: collapse;
            }
            .checker .header{
                display: flex;
                border: 1px solid rgb(180,180,180);
                box-shadow: 3px 5px 3px -2px rgb(160,160,160);
                border-radius: 50px;
                margin: 10px 0;
                padding: 10px;
                height: 32px;
                align-items: center;
                background: rgb(30,90,150);
                color: white;
                height: 50px;
                text-transform: uppercase;
            }
            .checker .results > div{
                display: flex;
                border: 1px solid rgb(180,180,180);
                box-shadow: 3px 5px 3px -2px rgb(160,160,160);
                border-radius: 50px;
                margin: 10px 0;
                padding: 10px;
                height: 32px;
                align-items: center;
            }
            .checker .results > div:nth-child(odd){
                background: rgb(230,230,230);
            }
            .checker > div{
                display: hidden;
            }

            .results .line{
                display: flex;
                transition-duration: 600ms;
            }
            .checker .results .line > div, .checker .header > div{
                flex: 1;
                border-right: 1px solid rgb(100,100,100);
            }
            .checker .header > div{
                border-right: 1px solid rgb(200,200,200);
            }
            .checker .header > div:nth-child(4){
                border-right: none;
            }
            .checker .results .line > div:nth-child(4), .checker .results .line > div:nth-child(5){
                border-right: none;
            }
            .checker button{
                display: block;
                margin 0 auto;
            }
            footer{
                background: #d5d9d8;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
            footer p{
                display: block;
                padding: 40px 0;
                text-align: center;
                margin: 0 auto;
                color: #434c53;
                font-size: 0.9em;
            }

             .pakete button{
                display: inline-block;
                background: rgb(250,250,250);
                padding: 8px 0;
                width: 100%;
                border: 2px solid #29588C;
                border-radius: 30px;
                cursor: pointer;
                outline: none;
                text-transform: uppercase;
                transition-duration: 240ms;
            }


            #search{
                padding: 10px 20px;
                background: #29588C;
                border-radius: 30px;
                color: white;
                width:100%;
            }
            #search:hover{
                background: #2968BC;
            }
            #search:active, .checker button:active, .pakete button:active, .details:active{
                background: #2982BC;
            }
            button:hover{
                background: #29588C;
                color: white;
            }


            .checker td:last-child{
                border: none;
                background: rgb(255,255,255);
                padding: 0 0 0 10px;
            }
            .loginBlock{
            width:400px;
            margin: auto;
            margin-bottom:50px;
            }
            .loginBlock >form{


                text-align:center;
                box-shadow: 4px 4px 9px 0 rgb(200,200,200);
                border-radius: 25px;
                padding:30;

            }


            #softwarekasten{

               margin:0 0,5%;
              border-radius: 25px;
                padding: 20 50 20 50;
              box-shadow: 4px 4px 9px 0 rgb(200,200,200);
              height: 100%;

            }


            .pakete button{
                height: inherit;
                margin-top: 10px;
            }
            .pakete h4{
                display: inline-block;
            }
            .pakete .notify{
                display: inline-block;
                float: right;
                position: absolute;
                top: 30px;
                right: 50px;
                padding: 10px 25px;
                background: rgb(100,180,30);
                color: white;
                border-radius: 25px;
            }
            .pakete .details{
                background: #29588C;
                color: white;
            }
            .pakete .details:hover{
                background: #2968BC;
            }
            .pakete .more{
                display: block;
                transform: rotate(-90deg);
                font-size: 2em;
                width: 20px;
                margin: 0px auto 0;
                cursor: pointer;
                transition-duration: 300ms;
                user-select: none;
            }
            .pakete .more:hover{
                opacity: 0.5;
            }
            .pakete .beschreibung{
                height: 0;
                margin: 30px 0 0 ;
                overflow: hidden;
                transition-duration: 400ms;
            }

            .trennblock{
            height:20px;}


   @media only screen and (max-width: 1100px){

                .pakete div{
                margin-top:50;
                }
                .mainNav{
                    display: none;
                }
                #hamburger{
                    display: block;
                }
                nav img{
                    width: 100px;
                    margin-left: 10%;
                }
            }












            .profil{
                width: 95%;
                margin: 0 auto;
                padding: 40px;
            }

            .profil .profilfoto{
                width: 150px;
                height: 150px;
                border: 2px solid rgb(100,100,100);
                border-radius: 100px;
                background: rgb(240,240,240);
                margin: 0 0 40px;
            }

            .profil .stats{
                display: flex;
                margin: 20px 0;
                padding: 20px 20px 20px 30px;
                border: 1px solid rgb(150,150,150);
                border-radius: 50px;
            }

            .profil > div > div{
                flex: 1;
            }

            .kundenliste{
                width: 95%;
                margin 0 auto;
                display: flex;
                flex-direction: column;
            }
            .kunde{
                display: block;
                flex: 1;
                border: 1px solid rgb(150,150,150);
                text-align: center;
                margin: 0 0 10px;
                padding: 15px;
                border-radius: 50px;
                text-decoration: none;
                transition-duration: 200ms;
                color: black;
            }
            .kundenliste h1{
                text-align: left;
                margin: 0 0 100px;
            }
            .kunde:hover{
                background: rgb(220,220,220);
            }
