{% extends "base.html" %}

{% block content %}
<h2>Lizenzen</h2>
<div class="container">
   <table class="table display" id="lizenzTabelle" width="100%">
       <thead>
            <tr>
                <th></th>
                <th>Kunde</th>
                <th>Software</th>
                <th>Modul</th>
                <th>Lizenzschlüssel</th>
                <th>Gültig von</th>
                <th>Gültig bis</th>
            </tr>
       </thead>

       <tbody>
       {% for lizenz in lizenzen %}
            <tr>
                <td></td>
                <td>{{ lizenz.KundeHatSoftware.standort.name }}</td>
                <td>{{ lizenz.KundeHatSoftware.software }}
                <td>{{ lizenz.modul }}</td>
                <td>{{ lizenz.license_key }}</td>
                <td>{{ lizenz.gültig_von }}</td>
                <td>{{ lizenz.gültig_bis }}</td>
            </tr>
    {% endfor %}
   </table>


</div>
{% endblock content %}
