{% extends "base.html" %}

{% block content %}
<h1>Lizenzen</h1>
<div class="container mt-5">
   <table class="table table-responsive-lg" id="lizenzTabelle" width="100%">
       <thead>
            <tr>

                <th>Kunde</th>
                <th>Software</th>
                <th>Modul</th>
                <th>Lizenzschlüssel</th>
                <th>Gültig von</th>
                <th>Gültig bis</th>
            </tr>
       </thead>

       <tbody>
       {% for lizenz in lizenzen %}
            <tr>

                <td>{{ lizenz.KundeHatSoftware.standort.name }}</td>
                <td>{{ lizenz.KundeHatSoftware.software }}
                <td>{{ lizenz.modul }}</td>
                <td>{{ lizenz.license_key }}</td>
                <td>{{ lizenz.gültig_von }}</td>
                <td>{{ lizenz.gültig_bis }}</td>
            </tr>
    {% endfor %}



        <tfoot>
            <tr>

                <th>Kunde</th>
                <th>Software</th>
                <th>Modul</th>
                <th>Lizenzschlüssel</th>
                <th>Gültig von</th>
                <th>Gültig bis</th>
            </tr>
       </tfoot>
   </table>
</div>
{% endblock content %}
