{% extends "base.html" %}

{% block ubersicht %}
<h1>Lizenzrollout und Updater</h1>
<h2>Übersicht</h2>

<div class="pakete">

    {% for x in software %}
    <div>
        <h4>{{ x }}</h4>
        <span class="notify">aktuell</span>
        <p>Version {{ x.version }}</p>
        <button class="details">Details anzeigen</button>
        <button class="update">Update durchführen</button>
        <div class="beschreibung"><p>{{ x.beschreibung }}</p></div>
        <span class="more">&#9001;</span>
    </div>
    {% endfor %}
</div>
{% endblock ubersicht %}


{% block javascript %}
<script type="text/javascript">
 var lizenz = document.getElementsByClassName("lizenz");
        var lizenzArr = Array.prototype.slice.call(lizenz);
        var notify = document.getElementsByClassName("notify");
        var notifyArr = Array.prototype.slice.call(notify);

        var kdNr = document.getElementById("kdNr");
        var menu = $("#menu");

        $(".more").click(function(){
            if($(this).prev().css("height") == "0px"){
                $(this).prev().css("height","200px");
                $(this).css("transform","rotate(90deg)");
            }else{
                $(this).prev().css("height","0px");
                $(this).css("transform","rotate(-90deg)");
            }
        });

        $(".checker").on("change", function(){;
        lizenzArr.forEach(function(e){
            if(e.innerText == "INAKTIV"){
                e.style.color = "rgb(250,30,80)";
            }else{
                e.style.color = "rgb(30,200,70)";
            }
        });
        })

        notifyArr.forEach(function(e){
            if(e.innerText == "aktuell"){
                e.style.background = "rgb(100,180,30);";
            }else{
                e.style.background = "rgb(220,105,70)";
            }
        });

        $('#search').click(function(){
            var input = kdNr.value;
            $.ajax({
                type:"GET",
                url: "getUser",
                data:{
                    kdNr: input
                },
                dataType: 'json',
                success: function(data){
                    newdata = JSON.parse(data);
                    console.log(newdata);
                    var lizenz = "";

                    if(data && newdata.length > 0 ){
                        $("#mandant").text(newdata[0]["kdNr"]);
                        for(var x = 0; x < newdata.length; x++){

                            lizenz = newdata[x]["lizenz"] == "True" ? "AKTIV" : "INAKTIV";

                            $(".checker").append(""
                                + "<div style='display: hidden;'>"
                                    + "<div>" + newdata[x]["swId"] + "</div>"
                                    + "<div class='lizenz'>" + lizenz + "</div>"
                                    + "<div>" + newdata[x]["version"] + "</div>"
                                    + "<div>20.07.2025</div>"
                                    + "<div>"
                                        + "<button>Update</button>"
                                    + "</div>"
                                + "</div>");

                        }



                        $("#error").css("opacity","0");
                        $("#kdNr").addClass("searchChange");
                    }else{
                        $("#error").css("opacity","1");
                        $("#kdNr").addClass("searchChange");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $("#error").css("opacity","1");
                    $("#kdNr").addClass("searchChange");
                }
            })
        });

</script>
{% endblock javascript %}


{% block dashboardtabelle %}

{% load pages_extras %}


<div class="panel software">
    <table>
        <tr>
            <td>Kundennummer</td>
            <td><input type="text" name="kdNr" id="kdNr"/></td>
            <td>
                <button id="search">Suchen</button>
            </td>
            <td><span id="error" style="color: red; opacity: 0;">Kundennummer existiert nicht!</span></td>
        </tr>
        <tr>
            <td>Mandant</td>
            <td id="mandant"></td>
        </tr>
        <tr>
            <td>Land</td>
            <td id="land">Deutschland</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td id="stadt">Stuttgart</td>
        </tr>
    </table>


    <div class="checker">
        <div class="header" style="background: rgb(30,90,150); color: white; height: 50px;text-transform: uppercase">
            <div>Softwarepaket</div>
            <div>Lizenz</div>
            <div>Version</div>
            <div>Ablaufdatum</div>
            <div></div>
        </div>
     <!--   {% for x in khs %}
        {% if x.kdNr|equals:"Mercedesverkauf GmbH" %}
        <div>
            <div>{{ x.swId }}</div>
            <div class="lizenz">{% if x.lizenz == False %} INAKTIV {% else %} AKTIV {% endif %}</div>
            <div>{{ x.swId.version }}</div>
            <div>20.07.2025</div>
            <div>{% if x.lizenz == False %}
                <button>Update</button>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %} -->
    </div>

    {% endblock dashboardtabelle %}
