{% extends "base.html" %}

{% block heartbeat%}
<h1>Dashboard</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-5 softwarekasten">
            <h2>Heartbeat-Meldungen</h2>
            <table class="table table-responsive-lg" id="heartbeatsTabelle" width="100%">
                <thead>
                    <tr>

                        <th>Kunde</th>
                        <th>Software</th>
                        <th>Lizenzschlüssel</th>
                        <th>Datum</th>
                    </tr>


                </thead>

                <tbody>
                    {% for heartbeat in heartbeats %}
                    <tr>
                        <td>{{ heartbeat.kundeSoftware.standort }}</td>
                        <td>{{ heartbeat.kundeSoftware.software }}</td>
                        <td>{{ heartbeat.meldung }}</td>
                        <td>{{ heartbeat.datum }}</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

<div class="trennblock"></div>
{% endblock heartbeat%}
{% block chartJS %}
<script>

$(document).ready(function(){
   var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['30 Tage', '90 Tage', '+90 Tage',],
        datasets: [{
            label: 'Ablaufende Lizenzen',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for delta in lizenzenDelta %} {{ delta }}, {% endfor %}]
        }]
    },

        // Configuration options go here
        options: {
        }
    });
});


</script>
{% endblock chartJS %}
{% block chart %}
<div class="row mb-5">
    <div class="col softwarekasten">
        <canvas id="myChart" width="50" height="25"></canvas>
    </div>
    <div class="col"></div>
</div>
{% endblock chart%}

{% block javascript %}
<script type="text/javascript">
 var lizenz = document.getElementsByClassName("lizenz");
        var lizenzArr = Array.prototype.slice.call(lizenz);
        var notify = document.getElementsByClassName("notify");
        var notifyArr = Array.prototype.slice.call(notify);

        var kdNr = document.getElementById("kdNr");
        var menu = $("#menu");

        $(".more").click(function(){
            if($(this).prev().css("height") == "0px"){
                $(this).prev().css("height","250px");
                $(this).css("transform","rotate(90deg)");
            }else{
                $(this).prev().css("height","0px");
                $(this).css("transform","rotate(-90deg)");
            }
        });

        $(".checker").on("change", function(){;
        lizenzArr.forEach(function(e){
            if(e.innerText == "INAKTIV"){
                e.style.color = "rgb(250,30,80)";
            }else{
                e.style.color = "rgb(30,200,70)";
            }
        });
        })

        notifyArr.forEach(function(e){
            if(e.innerText == "aktuell"){
                e.style.background = "rgb(100,180,30);";
            }else{
                e.style.background = "rgb(220,105,70)";
            }
        });

        $('#search').click(function(){
            var input = kdNr.value;
            $.ajax({
                type:"GET",
                url: "getUser",
                data:{
                    kdNr: input
                },
                dataType: 'json',
                success: function(data){
                    newdata = JSON.parse(data);
                    console.log(newdata);
                    var lizenz = "";

                    if(data && newdata.length > 0 ){
                        $("#mandant").text(newdata[0]["name"]);
                        $(".checker .results .line").replaceWith("");
                        for(var x = 0; x < newdata.length; x++){

                            lizenz = newdata[x]["lizenz"] == "True" ? "AKTIV" : "INAKTIV";

                            if(lizenz == "INAKTIV"){
                                button ="<div><button>Lizenzupdate</button></div>"
                            }else{
                                button ="<div></div>"
                            }

                            $(".checker .results").append(""
                                + "<div class='line' style='opacity: 0;'>"
                                    + "<div>" + newdata[x]["software"] + "</div>"
                                    + "<div class='lizenz'>" + lizenz + "</div>"
                                    + "<div>" + newdata[x]["version"] + "</div>"
                                    + "<div>20.07.2025</div>"
                                    + button
                                + "</div>");


                        }

                        setTimeout(function(){
                            $(".line").css("opacity","1");

                        },200);


                        $("#error").css("opacity","0");
                        $("#kdNr").addClass("searchChange");
                    }else{
                        $("#mandant").text("");
                        $(".line").css("opacity","0");
                        setTimeout(function(){
                            $(".checker .results .line").replaceWith("");
                        },400);
                        $("#error").css("opacity","1");
                        $("#kdNr").addClass("searchChange");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $("#error").css("opacity","1");
                    $("#kdNr").addClass("searchChange");
                }
            })
        });


</script>
{% endblock javascript %}

<!-
{% block dashboardtabelle %}

{% load pages_extras %}
</div>

<!--
<div class="container">
    <table class="table">
        <tr>
            <td><input placeholder="Kundennummer" type="text" name="kdNr" id="kdNr"/></td>
            <td>
                <button id="search">Suchen</button>
            </td>
            <td><span id="error" style="color: red; opacity: 0;">Kundennummer existiert nicht!</span></td>
        </tr>
        <tr>
            <td>Kunde</td>
            <td id="mandant"></td>
        </tr>
    </table>

</div>
<div class="checker">
    <div class="header">
        <div>Softwarepaket</div>
        <div>Lizenz</div>
        <div>Version</div>
        <div>Ablaufdatum</div>
        <div></div>
    </div>
    <div class="results">
        <div class="line" style="opacity: 0;"></div>
    </div>
    {% for x in khs %}
       {% if x.kdNr|equals:"Mercedesverkauf GmbH" %}
       <div>
           <div>{{ x.swId }}</div>
           <div class="lizenz">{% if x.lizenz == False %} INAKTIV {% else %} AKTIV {% endif %}</div>
           <div>{{ x.swId.version }}</div>
           <div>20.07.2025</div>
           <div>{% if x.lizenz == False %}
               <button>Update</button>
               {% endif %}
           </div>
       </div>
       {% endif %}
       {% endfor %}
</div>
-->


{% endblock dashboardtabelle %}
