{% extends "base.html" %}

{% block ubersicht %}
<h1>Lizenzrollout und Updater</h1>
<h2>Übersicht</h2>

<div class="pakete">

    {% for x in software %}
                <div>
                    <h4>{{ x }}</h4>
                    <span class="notify">aktuell</span>
                    <p>Version {{ x.version }}</p>
                    <button class="details">Details anzeigen</button>
                    <button class="update">Update durchführen</button>
                    <div class="beschreibung"><p>{{ x.beschreibung }}</p></div>
                    <span class="more">&#9001;</span>
                </div>
    {% endfor %}
            </div>
{% endblock ubersicht %}







{% block dashboardtabelle %}

        {% load pages_extras %}


            <div class="panel software">
                <table>
                    <tr><td>Kundennummer</td><td><input type="text" name="kdNr" id="kdNr"/></td><td><button id="search">Suchen</button></td><td><span id="error" style="color: red; opacity: 0;">Kundennummer existiert nicht!</span></td></tr>
                    <tr><td>Mandant</td><td>Mercverkauf GmbH</td></tr>
                    <tr><td>Land</td><td>Deutschland</td></tr>
                    <tr><td>Stadt</td><td>Stuttgart</td></tr>
                </table>
                <table class="checker">
                    <tr><th>Softwarepaket</th><th>Lizenz</th><th>Version</th><th>Ablaufdatum</th></tr>
                    {% for x in khs %}
                        {% if x.kdNr|equals:"Mercedesverkauf GmbH" %}
                            <tr>
                                <td>{{ x.swId }}</td>
                                <td class="lizenz">{% if x.lizenz == False %} INAKTIV {% else %} AKTIV {% endif %}</td>
                                <td>{{ x.swId.version }}</td>
                                <td>20.07.2025</td>
                                <td>{% if x.lizenz == False %}<button>Update</button>{% endif %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

{% endblock dashboardtabelle %}
