{% extends "base.html" %}

{% block content %}

    <div class="profil">
        <div class="profilfoto">

        </div>
        <div class="stats">
            <div>Kundennummer</div><div>{{ kdNr }}</div>
        </div>
        <div class="stats">
            <div>Name</div><div>{{ name }}</div>
        </div>
        <div class="stats">
            <div>Unternehmenssitz</div><div>{{ strasse }} {{ hausnr }}, {{ ort }}</div>
        </div>
        <div class="stats">
            <div>Ansprechpartner</div><div>Herr Leutner</div>
        </div>
        <div class="stats">
            <div>Gebuchte Softwarepakete</div><div></div>
        </div>

        <div id="heartbeat-historie">

        </div>
    </div>


{% endblock content %}
