{% extends "base.html" %}

{% block content %}


<div class="stats">
    <div class="ueberschrif">
        <h1 id="autohausZeile"> {{ kunde.name }}</h1>
        <h2>VF- Nummer: {{ kunde.vf_nummer }}</h2>
    </div>

    {% if standorte|length == 0 %}
    <div class="container empty">
        <h2>Keine Standorte verfügbar</h2>
    </div>
    {% else %}
 {% for standort in standorte %}
<div class="container panel-group" id="accordion">
    <div class="panel-heading">
        <div class = "trigger"> {{ standort.name }}
        <i class='fas fa-angle-down', arrowButton></i>
        </div>

            <div class = "toggle">
                <div class="row">
                <div class="col-md-6">
                    <table class="table" >
                        <tbody>
                        <tr>
                            <div class="tabellenHead">Anschrift</div>
                            <th>Straße</th>
                            <td>{{standort.strasse}}</td>
                            <td>{{standort.hausnr}}</td>
                        </tr>
                        <tr>
                            <th>PLZ, Ort</th>
                            <td>{{standort.plz}}</td>
                            <td>{{standort.ort}}</td>
                        </tr>
                        <tr>
                            <th>Geschaeftszeiten</th>
                            <td>Mo-Fr</td>
                            <td>8:00 Uhr - 18:00 Uhr</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                        <tr>
                            <div class="tabellenHead">Ansprechpartner</div>
                            <th>Name</th>
                            {% for ansprechpartner in standortBerater %}
                                {% if ansprechpartner.standort == standort %}
                                    <td>{{ansprechpartner}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Telefonnummer</th>
                            <td>{{standort.telnr}}</td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td>{{standort.email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                    <div class="row">
                    <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Softwareprodukt</th>
                                    <th>Version</th>
                                    <th>Modul</th>
                                    <th>Lizenzschlüssel</th>
                                    <th>Ablaufdatum</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pakete in softwarePakete %}
                                    {% if pakete.standort == standort %}
                                <tr>
                                    <td>{{pakete.software}}</td>
                                    <td>{{pakete.software.version}}</td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 id="vergangHb"> vergangene Heartbeats</h2>
                                <div class="scrolltable">
                                    <table class="table text-center" >
                                    <thead>
                                    <tr>
                                        <th>Datum</th>
                                        <th>Hearbeatmeldung</th>
                                        <th>Sonstiges</th>
                                    </tr>
                                    </thead>
                                        <tbody>
                                        {% for impuls in heartbeatHistorie %}
                                            {% if impuls.kundeSoftware.standort == standort %}
                                        <tr>
                                            <td>{{impuls.meldung}}</td>
                                            <td>Macbook Pro</td>
                                            <td>amk</td>
                                        </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                </table>
                        </div>

                </div>

                <!--
                <div class="row">
                    <div class="col-md-6">
                        <div id="Anschrift">Anschrift</div>
                        <div> {{ standort.strasse }} {{ standort.hausnr }}</div>
                        <div>{{ standort.plz }} {{ standort.ort }}</div> <br>
                        <div id="geschaeftszeiten">Geschäftszeiten:</div>
                        <div> {{ standort.geschaeftszeiten }}</div>
                    </div>
                        <div class="col-md-6">
                            <div> Ansprechpartner</div>
                            <div> Herr Markus Mill</div>
                            <div>{{ standort.telNr }}</div>
                            <div> {{ standort.email }}</div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="softwarePakete">Softwarepakete</div>
                                {% for pakete in softwarePakete %}
                                    {% if pakete.standort == standort %}
                                        <div>{{ pakete.software }} {{ pakete.software.version }} </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hbScroll">
                                    <div> vergangene Heartbeatmeldungen</div>
                                    <table>
                                        {% for impuls in heartbeatHistorie %}
                                            {% if impuls.kundeSoftware.standort == standort %}
                                                <tr>
                                                    <td>
                                                        {{ impuls.meldung }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                     -->   </table>
            </div>
                </div>
    </div>
</div>
{% endfor %}
    {% endif %}
</div>


<script>
$(".toggle").slideUp();
$(".trigger").click(function(){
    $(this).next(".toggle").slideToggle("slow");
  });
</script>


{% endblock content %}


