{% extends "base.html" %}

{% block content %}

<h1>Kunden</h1>
<div class="container mt-5">
      <div class="text-right">
            {% if user.is_authenticated %}
     <button class="anlegen"><a href="{% url 'create_kunde' %}">Neuen Kunden anlegen <i class="fas fa-plus"></i></a></button>
            {% endif %}
   </div>
    <table class="table table-responsive-lg" id="kundenListe" width="100%">
       <thead>
            <tr>

                <th>

                </th>

            </tr>
       </thead>

       <tbody>
       {% for y in kunde %}
            <tr>

                  <td>
                      <a href="{% url 'kundenprofil' y.id %} " class="kunde" >{{ y }} </a>
                  </td>

            </tr>
       {% endfor %}
        </tbody>
   </table>
</div>





{% endblock content %}
