{% extends "base.html" %}

{% block content %}

<h1>Kunden</h1>
<div class="container mt-5">
    <table class="table table-responsive-lg" id="kundenListe" width="100%">
       <thead>
            <tr>

                <th>

                </th>

            </tr>
       </thead>

       <tbody>
       {% for y in kunde %}
            <tr>

                  <td>
                      <a href="/Kunden/Profil?id={{ y.id }} " class="kunde" >{{ y }} </a>
                  </td>

            </tr>
       {% endfor %}
        </tbody>
   </table>
</div>


<script>
$(document).ready(function() {
    $('#kundenListe').DataTable( {
        "paging":   false,
        "ordering": false,
        "info":     false
    } );
} );

</script>



{% endblock content %}
