{% extends "base.html" %}

{% block content %}

    <div class="profil container">
        <!--<div class="profilfoto">

        </div>-->
        <div class="stats">
            <div>Name</div>
            <div>{{ kunde.name }}</div>
        </div>
        <div class="stats">
            <div>VF-Nummer</div>
            <div>{{ kunde.vf_nummer }}</div>
        </div>
        <h2>Standorte</h2>
        {% for standort in standorte %}
        <div class="stats">
            <div>{{ standort.name }}</div>
        </div>
        {% endfor %}
        <!--div class="stats">
            <div>Unternehmenssitz</div><div>{{ strasse }} {{ hausnr }}, {{ ort }}</div>
        </div>
        <div class="stats">
            <div>Ansprechpartner</div><div>Herr Leutner</div>
        </div>
        <div class="stats">
            <div>Gebuchte Softwarepakete</div><div></div>
        </div>
        -->
    </div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-responsive-lg" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Unternehmenssitz</th>
                    <th>Ansprechpartner</th>
                    <th>Kontaktdaten</th>
                </tr>
             </thead>

            <tbody>
                <tr>
                     <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <table class="table table-responsive-lg" width="100%">
            <thead>
                <tr>
                    <th>Softwarebezeichnung</th>
                    <th>Modul</th>
                    <th>Version</th>
                    <th>Lizenzschlüssel</th>
                    <th>Ablaufdatum Lizenz</th>
                    <th>Update durchgeführt am</th>
                </tr>
             </thead>

            <tbody>
                <tr>
                     <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}
