<nav>
    <div>
        <a class="emblem" href="/"><img src="https://www.aubex.de/sites/all/themes/aubex/logo.png" width="130px"/></a>
    </div>

    <div class="mainNav">
        <ul>
            <li><a href="/">Home</a></li>
            {%if user.is_superuser %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="">Lizenzen</a></li>
            <li><a href="/Kunden">Kunden</a></li>
            <li><a href="">Sonstige</a></li>
            {% if user.is_authenticated %}
            <li><a class="login-btn" href="{% url 'logout' %}">Abmelden</a></li>
            {% else %}
            <li><a class="login-btn" href="{% url 'login' %}">Login</a></li>
            {% endif %}

        </ul>
    </div>

    <div id="hamburger" onclick="hamToggle(this)">
        <span id="first"></span>
        <span id="second"></span>
        <span id="third"></span>
    </div>

</nav>

<div id="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="">Lizenzen</a></li>
        <li><a href="">Kunden</a></li>
        <li><a href="">Sonstige</a></li>
        <li><a class="login-btn" href="{% url 'login' %}">Login</a></li>
    </ul>
</div>
