{% extends "base.html" %}

{% block content %}
<h1>Updates</h1>
    <div class="text-right container">
         {% if user.is_authenticated %}
     <button class="anlegen">Neues Update anlegen <i class="fas fa-plus"></i></button>
         {% endif %}
   </div>
<h2>Übersicht Softwarepakete</h2>
<div class="container">
    <div class="pakete shadowKasten">
        <div class="row">

            {% for software in softwares %}

            <div class="col-s col-md">
                <h4>{{ software }}</h4>
                <p>Version {{ software.version }}</p>

                <button class="update">Update durchführen</button>

            </div>

            {% endfor %}

        </div>

    </div>


</div>

<h2>Softwarestände</h2>
<div class="container mt-5">
    <table class="table table-responsive-lg" id="lizenzTabelle" width="100%">
        <thead>
        <tr>

            <th>Kunde</th>
            <th>Software</th>
            <th>Modul</th>
            <th>Version</th>
            <th>Update verfügbar?</th>
            <th>Update durchgeführt am</th>
        </tr>
        </thead>

        <tbody>
        {% for software in lizenzen %}
        <tr>

            <td>{{ software.KundeHatSoftware.standort}}</td>
            <td>{{ software.KundeHatSoftware.software }}
            <td>{{ software.modul }}</td>
            <td>{{ software.KundeHatSoftware.version }}</td>
            <td>{{ software.updateVerfuegbar }}</td>
            <td>{{ software.DatumUpdate }}</td>
        </tr>
        {% endfor %}


        <tfoot>
        <tr>

            <th>Kunde</th>
            <th>Software</th>
            <th>Modul</th>
            <th>Version</th>
            <th>Update verfügbar?</th>
            <th>Update durchgeführt am</th>
        </tr>
        </tfoot>
    </table>
</div>


{% endblock content %}
