{% extends '../base.html' %}
{% block content %}
<h1>Login</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <!--<fieldset class="form-group">-->
            {{ form }}
        <!--</fieldset>
        <div class="form-group">-->
            <button class="btn btn-outline-info" type="submit">Anmelden</button>
        <!--</div>-->
    </form>
    <!--<div class="border-top pt-3">-->
        <small class="text-muted">Benötigst du einen Account? <a class="ml-2" href="{% url 'register' %}">Registriere dich hier!</a></small>
    <!--</div>-->
</div>
{% endblock content %}
