{% extends '../base.html' %}
{% block content %}
<style>
   .loginBlock{

            width:400px;
            margin: 100px auto;

            }
            .loginBlock >form{


                1text-align:center;
                box-shadow: 4px 4px 9px 0 rgb(200,200,200);
                border-radius: 10px;
                padding: 30px;

            }

            .loginBlock .btn-outline-primary{
            width: 95%;}

            footer{
            position: fixed;
            bottom:0;
            width: 100%;
            }


</style>
<div class="loginBlock container">

          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Anmelden</button>
            </div>
          </form>
    </div>
            <div class="border-top pt-3 text-center">
                <small class="text-muted">Benötigst du einen Account? <a class="ml-2" href="{% url 'register' %}">Registriere dich hier!</a></small>
            </div>



{% endblock content %}
